#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background: #313131;
}

p {
  margin: 0;
}

.logo {
    width: 24px;
    height: 24px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    box-sizing: border-box;
    padding: 20px 35px;
    background: #cccccc;
    border-radius: 15px;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
}

.filter-box {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
}

.heading {
    text-align: center;
    color: darkorange;
    font-size: 24px;
    padding: 5px 0;
    font-family: "Oswald", sans-serif;
}

.filter-label {
    font-size: 14px;
    font-family: "Oswald", sans-serif;
}


/* Hide the default checkbox */
.toggle-checkbox {
    display: none;
  }
  
  /* Style the label to look like a toggle button */
  .toggle-label {
    display: inline-block;
    width: 40px; /* Adjust width as needed */
    height: 20px; /* Adjust height as needed */
    background-color: #ddd; /* Background color for the toggle */
    border-radius: 10px; /* Border radius to make it look rounded */
    position: relative;
    cursor: pointer;
  }
  
  /* Style the pseudo-element to represent the handle of the toggle */
  .toggle-label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px; /* Adjust width as needed */
    height: 16px; /* Adjust height as needed */
    background-color: #fff; /* Color of the toggle handle */
    border-radius: 50%; /* Border radius to make it look like a circle */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
  }
  
  /* Adjust the appearance of the toggle when the checkbox is checked */
  .toggle-checkbox:checked + .toggle-label {
    background-color: #66bb6a; /* Background color when checked */
  }
  
  /* Move the handle to the right when the checkbox is checked */
  .toggle-checkbox:checked + .toggle-label:after {
    transform: translateX(20px); /* Adjust the translation to move the handle to the right */
  }
  
  .loader {
    width: 100%;
    height: 266px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 20px;
  }

  .button-box{
    display: flex;
    gap: 8px;
    align-items: center;
    max-height: min-content;
  }

  .page-btn {
    padding: 4px 10px;
    background: #b6d2da;
    color: rgb(222, 12, 57);
    border-radius: 5px;
    border: 1px solid rgb(222, 12, 57);
    cursor: pointer;
  }

  .page-btn:focus {
    outline: none;
  }

  .page-btn:disabled {
    color: rgb(222, 12, 57, 0.4);
    border-color: rgb(222, 12, 57, 0.4);
  }

  .members-btn {
    font-size: 14px;
    color: blue;
    padding: 15px;
    border: 1px solid gray;
    background: gray;
    border-radius: 15px;
    cursor: pointer;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.19);
  }
  .members-btn:focus {
    outline: none;
  }

  .modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .inside-modal {
    min-width: 50%;
    min-height: 400px;
    background: whitesmoke;
    z-index: 999;
  }

  .inside-modal > div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }

  .inside-modal > div > h2 {
    margin: 12px 0;
    color: red;
    font-size: 16px;
    font-weight: 800;
    text-shadow: rgba(222, 12, 57,0.3);
  }

.inside-modal :nth-child(3) {
  margin: auto;
}

  .inside-modal :nth-child(3) button{
    box-sizing: border-box;
    border: 2px solid cyan;
    background: cyan;
    padding: 6px 15px;
    color: red;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
  }
  .inside-modal :nth-child(3) button:focus{
    outline: none;
  }

  .inside-modal :nth-child(2) > table {
    width: 80%;
    column-gap: 15px;
  }
 
  .inside-modal :nth-child(2) > table tbody tr td {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
    color: #313131;
  }
 
  .inside-modal :nth-child(2) > table tbody tr td:last-child{
      text-align: left;
  }
  .inside-modal :nth-child(2) > table tbody tr td span {
    font-size: 14px;
    font-weight: 400;
    color: #313131;
    margin-inline-end: 8px;
  }

  table thead > tr {
    border-bottom: 2px dashed green;
  }

  .inside-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }